body {
    font-weight: 400;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    background-color: rgb(21, 32, 43);
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin: auto;
}


/* NavBar Section */

.main-section-layout {
    display: flex;
    align-items: flex-start;
}

.twitter-section {
    height: 100%;
}

.followers-layout {
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    padding: 5px;
    margin-left: 15%;
    border-radius: 20px;
}

.twitter-layout-logo {
    margin-bottom: 20px;
}

.profile-section {
    padding-top: 4rem;
    margin-left: 3rem;
}

.profile-info {
    display: flex;
    justify-content: end;
    color: rgba(255, 255, 255, 0.824);
}

.name-email {
    margin: 1rem;
}

li {
    list-style: none;
    align-items: left;
}

.icon-layout {
    margin: 1rem;
    transition: 0.7s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 1rem 10px;
    border-radius: 20px;
}

.icons-tweet {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.icons-for-tweetbox {
    margin-right: 300px;
}

.icon-style {
    margin: 3px;
}

.icon-style:hover {
    border-radius: 50%;
    background-color: rgb(47, 64, 82);
}

.indicator-for-tweetbox {
    display: flex;
    justify-content: end;
}

.icon-layout:hover {
    text-decoration: none;
    background-size: 30px;
    background-color: #ffffff;
    color: rgb(47, 64, 82);
    padding: 20px;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.fixed-navbar {
    margin-top: 3rem;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.card-styles {
    background-color: rgb(47, 64, 82);
    border-radius: 20px;
}

.card-trend {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 0.3px solid white;
    height: 500px;
    background-color: rgb(21, 32, 43);
    border-radius: 17px;
    padding-left: 0%;
    padding-right: 0%;
}


/* .trendSection {
    margin-top: 6rem;
    overflow: hidden;
    position: fixed;
    top: 0;
} */

.border-trend li {
    border-radius: 20px;
}

.footer {
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.trendHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 9rem;
    border-radius: 17px;
}

.trendCard {
    background-color: rgb(21, 32, 43);
    border-top: 0.2px solid rgb(112, 128, 144);
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.trendCard:hover {
    background-color: rgb(47, 64, 82);
}

.trendHeader:hover {
    background-color: rgb(47, 64, 82);
}

.card-trend>ol {
    padding-left: 0%;
}

.trendCard>p {
    font-size: 12px;
    color: rgb(91, 109, 128);
    margin-bottom: 8px;
}

.trendHeader>h5 {
    color: white;
}

.trendCard>h6 {
    color: white;
}

.cogImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 30px;
}

.cogImage:hover {
    border-radius: 25px;
    background-color: rgb(47, 64, 82);
}


/* Search Bar */

#output {
    background-color: white;
    border-radius: 20px;
    border: 2px solid grey;
    max-width: 100px;
    height: auto;
}

.searchbar {
    margin-bottom: 40px;
    margin-top: 20px;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: auto;
    caret-color: rgb(47, 64, 82);
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: rgb(47, 64, 82);
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.twitter-section {
    border: .5px solid rgb(118, 140, 187);
    height: 100%;
    padding-bottom: 40px;
    min-height: 1020px;
    width: auto;
    padding: 0;
}

.tweet-input-box {
    padding: 0;
    margin: 0;
}

.input-styling {
    display: flex;
    width: 95%;
    margin-top: 1rem;
}

.home-bar-top {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    color: rgba(255, 255, 255, 0.899);
    border: 1px solid rgb(118, 140, 187);
    border-top: none;
    border-left: none;
    border-right: none;
}

.tweetinput {
    padding-top: 15px;
    width: 100%;
    background-color: rgba(118, 140, 187, 0.392);
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

.img-profile-tweet {
    padding: 5px;
    text-align: end;
}

.lower-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tweetcard {
    display: flex;
    justify-content: center;
}

.tweetbox {
    border-radius: 5px;
    padding-bottom: 1rem;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    background-color: rgba(211, 211, 211, 0.063);
}

#remainNumber {
    margin-right: 1rem;
    margin-left: 5px;
    padding-top: .5rem;
}

.tweettime {
    color: rgba(128, 128, 128, 0.536);
    float: left;
    padding-left: 6px;
}

.tweettext {
    float: left;
    padding-top: 40px;
    padding-right: 500px;
}

.name {
    float: left;
}


/* For the popup retweet */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.input-retweet {
    min-width: 500px;
    width: 100%;
    border: none;
    color: rgb(21, 32, 43);
    outline: none;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: rgb(21, 32, 43);
    padding-top: 0;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* End of popup retweet */

.parentTweet {
    border: none;
    background-color: rgba(193, 193, 193, 0.351);
    border-radius: 25px;
    padding: 10px;
}

.image-timecounter {
    text-align: start;
    margin: 0px 10px 10px 10px;
}

.content-tweet {
    margin-top: 15px;
    background-color: rgba(193, 193, 193, 0.351);
    border-radius: 20px;
    text-align: start;
    padding-left: 20px;
}

.card-functions {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}

.content-retweet {
    margin-top: 15px;
    background-color: rgba(193, 193, 193, 0.351);
    border-radius: 20px;
    text-align: start;
    padding: 5px 20px 2px 20px;
    margin-left: 15%;
    margin-bottom: 0.75rem;
}

.retweet-child-content {
    margin-left: 15%;
    margin-bottom: 0;
}

.popupChildContents {
    display: flex;
    justify-content: start;
    align-items: center;
}